/* =======navbar======== */
nav {
    background-color: aquamarine;
}

/* ===========header========== */
header {
    background-color: #FF2400;
}

h1 { 
    color: white;
    text-transform: uppercase;
}

ul {
    list-style: none;
}